{% assign technical_skills = site.data.data.technical_skills %}
{% assign soft_skills = site.data.data.soft_skills %}

<!--TECHNICAL SKILLS-->
{% if technical_skills %}
<section class="skills-section section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-code fa-stack-1x fa-inverse"></i>
    </span>

        {{ technical_skills.title }}
    </h2>

    <div class="skillset">
        {% for skill in technical_skills.toolset %}
        <div class="item skill-item">
            <h3 class="level-title">{{ skill.name }}
                <br>
            </h3>

            <div class="bar-inner">
                {% assign skill_level = 'width: ' | append: skill.level %}
                <div class="level-bar">
                    <div class="level-bar-inner" style="{{skill_level}}"></div>
                </div>
                <div class="skill-details">
                    <small> {{ skill.details }} </small>
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        {% endfor %}
    </div>
</section>
{% endif %}

<!--SOFT SKILLS-->
{% if soft_skills %}
<section class="skills-section section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-code fa-stack-1x fa-inverse"></i>
    </span>

        {{ soft_skills.title }}
    </h2>

    <div class="skillset">
        {% for skill in soft_skills.toolset %}
        <div class="item skill-item">
            <h3 class="level-title">{{ skill.name }}
                <br>
            </h3>

            <div class="bar-inner">
                {% assign skill_level = 'width: ' | append: skill.level %}
                <div class="level-bar">
                    <div class="level-bar-inner" style="{{skill_level}}"></div>
                </div>
                <div class="skill-details">
                    <small> {{ skill.details }} </small>
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        {% endfor %}
    </div>
</section>

{% endif %}
